PATHS_WATCH="/srv/some_dir /tmp/some_other_dir"
PATHS_EXCLUDE="(.+swp$|.+swx$|.+swpx$)"
TEMP_FOLDER="/tmp/file_watcher"
BACKUP_FOLDER="/mnt/backup"
BACKUP_FILE_NAME_SUFFIX="%d_%m_%Y_%H%M%S"
ALGO=bash
DEDUPLICATE_LOOP_TIME=120

DEBUG_INFO=1


DEBUG_EVENT=2
DEBUG_TRACE=3